html, body {
  height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  min-height: 100%;
  position: relative;
}


.scoreboard {
  color: #DDDDDD;
}

.points {
  font-size: 15em;
  text-align: center;
}

.sets {
  font-size: 5em;
  position: absolute;
  top: 0;
}

.left .sets {
  right: 20px;
}

.right .sets {
  left: 20px; 
}

.name {
  font-size: 3em;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.scoreboard .left {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  text-align: center;
  background-color: #990000;
}

.scoreboard .right {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: #336699;
}

.inner {
  min-height: 100%;
  position: relative; 
}


.button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.button .target {
  width: 140px;
  color: #fff;
  font: 28px/30px LeagueGothicRegular;
  text-transform: uppercase;
  text-shadow: #6f0909 0 -1px 1px;
  border: 1px solid #6F0909;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 70px;
  box-shadow: inset rgba(255,255,255,.8) 0 2px 4px;
  background-color: #990000;
  background-clip: padding-box;
  margin: 40px 0;
}

.button .target.teamA {
  background-color: #990000;
}
.button .target.teamB {
  background-color: #336699;
}