<div class="scoreboard">
  <div class="left"><div class="inner"><span class="teamA-sets sets">0</span><span class="teamA-points points">0</span><div class="teamA-name name">Name</div></div></div>
  <div class="right"><div class="inner"><span class="teamB-sets sets">0</span><span class="teamB-points points">0</span><div class="teamB-name name">Name</div></div></div>
</div>
