<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Table tennis scoreboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/javascript/jquery-2.0.3.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/client.js"></script>
    <script src="/javascript/jQuery.fastClick.js"></script>
</head>
<body>
  <div class="wrapper">

    {{{body}}}

  </div>

</body>
</html>
